<!--<button class="btn btn-primary" routerLink="/products/create">Create</button>-->
<table class="table" routerLink="/savings/list">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Balance</th>
            <th scope="col">Type</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of savings">
            <!-- <span *ngIf="p.active"> -->
                <th scope="row">{{p.id}}</th>
                <td>{{p.balance}}</td>
                <td>{{p.type}}</td>
                <td>
                    <a class="badge badge-info" (click)="onUpdate(p)" >update</a> &nbsp; &nbsp;
                    <a class="badge badge-danger" (click)="onDelete(p.id)">delete</a>
                </td>
            <!-- </span> -->
        </tr>
    </tbody>
</table>
